@keyframes note_explode{
0%{
transform:translate(0,0);
opacity:1;
}
3.333333%{
transform:translate(-256px,0);
}
6.666666%{
transform:translate(-512px,0);
}
10%{
transform:translate(-768px,0);
}
13.333333%{
transform:translate(-1024px,0);
}
16.666666%{
transform:translate(-1280px,0);
}
20%{
transform:translate(0,-256px);
}
23.333333%{
transform:translate(-256px,-256px);
}
26.666666%{
transform:translate(-512px,-256px);
}
30%{
transform:translate(-768px,-256px);
}
33.333333%{
transform:translate(-1024px,-256px);
}
36.666666%{
transform:translate(-1280px,-256px);
}
40%{
transform:translate(0,-512px);
}
43.333333%{
transform:translate(-256px,-512px);
}
46.666666%{
transform:translate(-512px,-512px);
}
50%{
transform:translate(-768px,-512px);
}
53.333333%{
transform:translate(-1024px,-512px);
}
56.666666%{
transform:translate(-1280px,-512px);
}
60%{
transform:translate(0,-768px);
}
63.333333%{
transform:translate(-256px,-768px);
}
66.666666%{
transform:translate(-512px,-768px);
}
70%{
transform:translate(-768px,-768px);
}
73.333333%{
transform:translate(-1024px,-768px);
}
76.666666%{
transform:translate(-1280px,-768px);
}
80%{
transform:translate(0,-1024px);
}
83.333333%{
transform:translate(-256px,-1024px);
}
86.666666%{
transform:translate(-512px,-1024px);
}
90%{
transform:translate(-768px,-1024px);
}
93.333333%{
transform:translate(-1024px,-1024px);
}
96.666666%{
transform:translate(-1280px,-1024px);
}
100%{
transform:translate(0,-1280px);
opacity:0;
}
}
.note_explode{
background-image:url("../resources/img/explode.png");
background-repeat:no-repeat;
width:1536px;
height:1280px;
animation:note_explode 0.8s steps(1) both 1;
display:inline-block;
}
.note_explode_container{
overflow:hidden;
width:256px;
height:256px;
display:inline-block;
}