*{
margin:0;
padding:0;
}
.main{
width:100vw;
height:100vh;
/**/
overflow:hidden;
/**/
position:absolute;
left:0;
top:0;
}
.gameplay{
display:inline-block;
width:100%;
min-width:100vh;
height:100%;
min-height:100vw;
position:absolute;
left:50%;
top:50%;
transform-origin:center center;
/**/
overflow:hidden;
transform:translate(-50%,-50%);
/**/
border:2px solid #f82;
}
.note_container{
text-align:center;
line-height:0;
vertical-align:middle;
width:6%;
height:100%;
//background-color:rgba(200,60,30,0.1);
position:absolute;
top:0;
transform:translate(-50%,0);
transform-origin:center center;
display:inline-block;
}
.note_body{
text-align:center;
transform-origin:center center;
display:inline-block;
margin:0;
padding:0;
width:80%;
transform:translate(0,-50%);
line-height:0;
vertical-align:middle;
}
.note_body_hold{
transform:unset;
display:block;
margin:0 auto;
}
.note_body_container{
text-align:center;
width:100%;
height:100%;
position:absolute;
left:0;
bottom:0;
display:inline-block;
transform-origin:center center;
will-change:transform,opacity;
}
.note_body_clip{
/**/
overflow:hidden;
/**/
}
.note_body_container_container{
position:absolute;
left:0;
top:0;
//background-color:rgba(60,200,20,0.1);
width:100%;
display:block;
height:50%;
}
.line{
width:300%;
min-width:300vh;
height:300%;
min-height:300vw;
position:absolute;
left:-100%;
top:-100%;
}
.line_body{
background-color:#ffffff;
width:300%;
min-width:300vh;
height:3px;
position:absolute;
left:50%;
top:50%;
transform:translate(-50%,-50%);
transform-origin:center center;
}
